body {
    font-family: sans-serif;
}

.navbar {
    background-color: rgb(78, 190, 61);
}

.title {
    padding: 0;
    margin-top: 35px;
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}
   
.div-btn {
    background-color: #4EBE3D;
    cursor: pointer;
    display: inline-block;
    border-bottom: 5px;
    padding: 8px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 20px;
    color: white;
    text-decoration: none;
}
#add-link {
    text-decoration: none;
    color: white;
}

.div-search {
    padding: 0;
    margin-top: 15px;
    margin-bottom:15px;
    display: inline-block;
    width: 75%;

}
.fa-magnifying-glass {
    position: absolute;
    top: 175px;
    right: 15%;
}

.fa-trash-can, .fa-pen-to-square {
    margin-right: 12px;
    cursor: pointer;
    font-size: 17px;
}
.fa-pen-to-square {
    color: green;
}
.fa-trash-can {
    color: red;
}

ul.messages {
    padding: 0;
    margin-top: 5px;
    background-color: rgba(255, 216, 216, 0.737);
}
ul.messages li {
    list-style: none;
}

.info-del {
    padding: 0;
    margin-left: 10px;
}







   
   

