{% extends 'base.html' %}

{% block content %} 

    <h1 class="title">Lista de tarefas</h1>
    <br>

    <div class="div-1">
            <div class="div-btn">
               <a id="add-link" href="newtarefa/"><i class="fa-solid fa-plus"></i> Adicionar arefa</a>
            </div>
            <div class="div-search">
                <input class="form-control"  type="search" id="search" name="search" placeholder="Digite o nome da tarefa para buscar">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            
            <div class="info-del">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li {% if mesage.tags %}class="alert alert {{message.tags}}"{% endif %}></li>{{message}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
            </div>
        <br>
        <table class="table">
            <thead class="title-table">
                <tr><th></th>
                    <th>#</th>
                    <th>Tarefa</th>
                    <th>Data</th>
                    <th>Horário</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for tarefa in tarefas  %}
                <tr><th></th>
                    <th>{{forloop.counter}}</th>
                    <th>{{tarefa.tarefa}}</th>
                    <th>{{tarefa.data}}</th>
                    <th>{{tarefa.hora}}</th>
                    <th><a href="edittarefa/{{tarefa.id}}"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="deletetarefa/{{tarefa.id}}"><i class="fa-solid fa-trash-can"></i></a>
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
